

<!-- modify this form HTML and place wherever you want your form -->

<form
  action="https://formspree.io/f/moqknwkp"
  method="POST"
>
  <label>
    Your email:
    <input type="text" name="_replyto">
  </label>
  <label>
    Your message:
    <textarea name="message"></textarea>
  </label>

  <!-- your other form fields go here -->

  <button type="submit">Send</button>
</form>
